<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fallout Drifters</title>
    <link rel="icon" href="img/caps.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body> 
<div class="navigation">
  <a id="HUMAN-nav" onclick="change_race('HUMAN')" class="navigation-button">HUMAN</a>
  <a id="GHOUL-nav" onclick="change_race('GHOUL')" class="navigation-button">GHOUL</a>
  <a id="SYNTH-nav" onclick="change_race('SYNTH')" class="navigation-button">SYNTH</a>
  <a id="MUTANT-nav" onclick="change_race('MUTANT')" class="navigation-button">MUTANT</a>
</div>

<div class="pancake-stack">
<div class="pancake-l">
    <!-- <div></div> -->
    <img id="race-image" src="/img/human.jpg" alt="">
</div>
<div class="pancake-r">
    <p id="race-p1"></p>
    <p id="race-p2"></p>
<br>
<div class="right-align">
    <a href="#" onclick="set_race()" class="navigation-button button">ACCEPT</a>
</div>
</div>
</div>
<div id="uuiddiv" data-test="<%= user.uuid %>"></div>
<div id="namediv" data-test="<%= user.name %>"></div>
<script>
    let UUID = document.getElementById('uuiddiv').dataset.test;
    let NAME = document.getElementById('namediv').dataset.test;
    let RACE = "HUMAN";
    let change_race = (race) => {
        RACE = race;
        let p1;
        let p2;
        let img;
        if(race == "HUMAN"){
            img = "/img/human.jpg";
            p1 = UUID;
            p2 = NAME;
            // p1 = "Humans, the dominant species before the war and still afterwards. Their sheer will and determination make them dangerous alone, but together they can accomplish almost anything. As a species, they thrive when under pressure and tend to have an intimate relationship with luck."
            // p2 = "While most humans try to reclaim the world from before the war, many have returned to a more tribal state. They are the only species observed practising this behaviour of reversion and have developed some rather interesting beliefs and governing systems. In some cases, even entirely new languages have been developed along with ritualistic practices and superstition."
        } else if(race == "GHOUL") {
            img = "/img/ghoul.jpg";
            p1 = "Trait: Necrotic Post-Human. You are immune to radiation damage. In fact, you’re healed by it—you regain 1 HP for every 3 points of radiation damage inflicted upon you, and if you rest in an irradiated location, you may re-roll your dice pool when checking if your injuries heal. In addition, Survival becomes a Tag skill, increasing it by 2 ranks."
            p2 = "The most widely known source of ghouls in the region were a result of a vault-tec experiment being conducted at Vault 12. Located under Bakersfield, California, also known as the Necropolis, the vault door was designed to unseal and expose the inhabitants to the radiation fallout outside. Every occupant was killed or transformed into a ghoul and those that survived still roam the countryside."
        } else if(race == "SYNTH") {
            img = "/img/robot.jpg";
            p1 = "Robots/Gen-2 Synths.  From the aptly named Mister Handy to the workhorse Protectron, robots have been a staple in American life. Built to last, these mechanical servants have weathered everything war-torn Earth has thrown at them and still perform their primary functions even now."
            p2 = "Robots had been constructed by pre-War society to fill all niches and occupations. From general-purpose utility droids to full-fledged military battle machines, robots could be found in almost any environment and function."
        } else if(race == "MUTANT") {
            img = "/img/supermutant.jpg";
            p1 = "Trait: Forced Evolution. Your initial Strength and Endurance attributes are increased by +2 each, and your maximum Strength and Endurance are increased to 12, but your maximum Intelligence and Charisma are both reduced to 6. You may not have more than 4 ranks in any skill. You are completely immune to radiation and poison damage."
            p2 = "Super Mutants excell in almost all areas of combat but generally have low IQ's and have trouble making friends."
        }
        document.getElementById("race-p1").innerHTML = p1;
        document.getElementById("race-p2").innerHTML = p2;
        document.getElementById("race-image").src = img;

        var all = document.getElementsByClassName("active");
        for (var i = 0; i < all.length; i++) {
          all[i].classList.remove("active");
        }
        document.getElementById(race+"-nav").classList.add("active");
    }

    window.onload = change_race('HUMAN');
    
    function post(path, params, method='post') {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
        
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];
                
                form.appendChild(hiddenField);
            }
        }
        
        document.body.appendChild(form);
        form.submit();
    }

    let set_race = () => {
        post('/selectorigin', {race: RACE, uuid: UUID, name: NAME})
    }
    
</script>
  </body>
</html>
